body{
    background-color: tan;
    margin: 0 auto;
    gap: 30px;
 
}

.main_page{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
    gap: 100px;

  

}

#batuP1{
    width: 100px;
    height: 100px;
}

#guntingP1{
    width: 100px;
    height: 100px;
}

#kertasP1{
    width: 100px;
    height: 100px;
}

.player1{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#nameP1{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.versus{
    display: flex;
    flex-direction: column;
    gap: 30px
}

#VS{
    font-size: 70px;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#refresh{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#batuCom{
    width: 100px;
    height: 100px;
}

#guntingCom{
    width: 100px;
    height: 100px;
}

#kertasCom{
    width: 100px;
    height: 100px;
}

.com{
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

#comName{
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}